.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body {
    box-sizing: border-box;
    font-size: 14px;
}

.row {
    display: flex;
}
.col25 {
    width: 25%;
    border: 1px solid black;
    padding: 10px;
}

.col30 {
    width: 30%;
    border: 1px solid black;
    padding: 10px;
}
.col35 {
    width: 35%;
    border: 1px solid black;
    padding: 10px;
}

.col50 {
    width: 50%;
    border: 1px solid black;
    padding: 10px;
}

.col_header {
    text-align: center;
}

pre {
    background-color: #20262b;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}

table#table1 table,
table#table1 th,
table#table1 td {
    border: 1px solid black;
}

table#table2 {
    border: 2px solid #000fff;
}

table#table3 th {
    background-color: aqua;
}

table#table4 tr:nth-of-type(odd),
table#table5 tr:nth-of-type(odd) {
    background-color: #bcb7f0;
}

table#table4 tr:nth-child(1) {
    background: none;
}

table#table5 th,
table#table5 td {
    padding: 15px;
}

table#table6 tr:nth-of-type(even) {
    background-color: #f8f4b2;
}

table#table6 th {
    background-color: rgb(184, 242, 184);
}

table#table7,
table#table7 td {
    border: 2px solid black;
    padding: 15px;
}
.merge_col,
.merge_row {
    text-align: center;
}

/* table#table2 tr:nth-child(even) {
    background-color: rgb(158, 236, 236);
} */
