.ul-type-circle {
    list-style-type: circle;
}
.ul-type-disc {
    list-style-type: disc;
}
.ul-type-square {
    list-style-type: square;
}
.margin-bottom-1px {
    margin-bottom: 1px;
}

.margin-top-1px {
    margin-top: 1px;
}
#flex-col-2 {
    display: flex;
    flex-flow: column;
}

.columns {
    column-count: 4;
}
.tbl {
    margin: 0px;
}
