/* * {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}
 */
/* Font */
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Side Navigation Menu */
.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#nav ul {
    margin-left: 0px;
    padding-left: 5px;
    margin-top: 2px;
}

#nav li {
    margin-left: 0px;
}

#nav p {
    color: #fff;
    margin-left: 15px;
    margin-bottom: 5px;
}

/* Page */

body {
    box-sizing: border-box;
    font-size: 14px;
    background-color: #eae2b7bc;
    margin: 0px;
    padding: 15px;
    /* Roboto */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1 {
    background-color: #d6282876;
    border: 2px solid #d6282876;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 50px;
    /* Kanit Bold */
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2 {
    background-color: #f77f0076;
    border-radius: 5px;
    margin: 15px 20px 5px;
    padding: 10px;
    /* Kanit Medium */
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h3 {
    background-color: #fcbf4976;
    border-radius: 5px;
    margin: 50px 25px 5px 25px;
    padding: 3px 15px;
    font-size: 18px;
    /* Kanit Regular */
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.row {
    display: flex;
}
.col15,
.col20,
.col30,
.col40,
.col50,
.col75 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.col15 {
    width: 15%;
}
.col20 {
    width: 20%;
}

.col30 {
    width: 30%;
}
.col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}
.col75 {
    width: 75%;
}

.col_header {
    text-align: center;
    border-radius: 5px;
}

pre {
    background-color: #003049;
    color: #fff;
    padding: 15px;
    border-radius: 15px;
}

hr {
    border: 5px dashed #d6282876;
}

.line_height50 {
    all: revert;
    line-height: 50%;
}

.line_height300 {
    all: revert;
    line-height: 300%;
}
ul.bullet_color {
    list-style: none;
}
ul.bullet_color li::before {
    content: "* ";
    color: blue;
}

.column2 {
    column-count: 2;
}

.margin_remove {
    margin-left: -20px;
}
.list_type_disc {
    list-style-type: disc;
}
.list_type_circle {
    list-style-type: circle;
}
.list_type_square {
    list-style-type: square;
}
.list_type_armenian {
    list-style-type: armenian;
}

.list_type_cjk-ideographic {
    list-style-type: cjk-ideographic;
}
.list_type_decimal {
    list-style-type: decimal;
}
.list_type_decimal-leading-zero {
    list-style-type: decimal-leading-zero;
}
.list_type_georgian {
    list-style-type: georgian;
}
.list_type_hiragana {
    list-style-type: hiragana;
}
.list_type_hiragana-iroha {
    list-style-type: hiragana-iroha;
}
.list_type_katakana {
    list-style-type: katakana;
}
.list_type_katakana-iroha {
    list-style-type: katakana-iroha;
}
.list_type_lower-alpha {
    list-style-type: lower-alpha;
}
.list_type_lower-greek {
    list-style-type: lower-greek;
}
.list_type_lower-latin {
    list-style-type: lower-latin;
}
.list_type_lower-roman {
    list-style-type: lower-roman;
}
.list_type_upper-alpha {
    list-style-type: upper-alpha;
}
.list_type_upper-latin {
    list-style-type: upper-latin;
}
.list_type_upper-roman {
    list-style-type: upper-roman;
}
.list_type_none {
    list-style-type: none;
}
.list_type_inherit {
    list-style-type: inherit;
}

.margin_bottom_1px {
    margin-bottom: 1px;
}

.margin_top_1px {
    margin-top: 1px;
}

.smaller_font {
    font-size: 12px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
