.ul_type_circle {
    list-style-type: circle;
}
.ul_type_disc {
    list-style-type: disc;
}
.ul_type_square {
    list-style-type: square;
}
.margin_bottom_1px {
    margin-bottom: 1px;
}

.margin_top_1px {
    margin-top: 1px;
}
#flex_col_2 {
    display: flex;
    flex-flow: column;
}

.columns {
    column-count: 4;
}
.tbl {
    margin: 0px;
}
