.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
body {
    box-sizing: border-box;
    font-size: 14px;
}
pre {
    background-color: #171621;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 12px;
}
.comment {
    /*  */
    color: gray;
}
.row {
    display: flex;
}

.column {
    float: left;
    width: 50%;
    margin: 0 15px;
}
.output-column {
    border: 2px solid darkgray;
    border-radius: 15px;
    padding-left: 5px;
    padding-bottom: 0px;
}

.highlight {
    color: blue;
    text-shadow: 0 0 5px hotpink;
    font-weight: 800;
}

.title {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
}

.sub-title {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.sub-sub-title {
    font-style: italic;
    text-decoration: underline;
}

a {
    color: aqua;
}
.on-hover > a:hover {
    background-color: green;
}

table {
    border: 2px solid #000;
    border-radius: 5px;
}

th {
    font-size: 120%;
    background-color: rgb(110, 158, 110);
    padding: 15px;
}
td {
    padding: 10px;
}
td:nth-child(1),
td:nth-child(2) {
    font-style: italic;
}

tr:nth-child(even) {
    background-color: rgb(249, 180, 194);
}
tr:nth-child(odd) {
    background-color: rgb(233, 137, 156);
}

table#table-sample,
table#table-sample2,
table#table-sample3 {
    border: 2px solid #fff;
    border-radius: 5px;
}

table#table-sample th,
table#table-sample2 th,
table#table-sample3 th {
    background-color: #fc4d36;
    font-size: 150%;
}

table#table-sample th,
table#table-sample td,
table#table-sample2 th,
table#table-sample2 td,
table#table-sample3 td {
    padding: 15px;
    text-align: center;
}

table#table-sample tr:nth-child(even),
table#table-sample2 tr:nth-child(even),
table#table-sample3 tr:nth-child(even) {
    background-color: #00ffff51;
}

table#table-sample tr:nth-child(1),
table#table-sample2 tr:nth-child(1),
table#table-sample3 tr:nth-child(1) {
    color: yellow;
}

/* .body-tag {
    color: crimson;
}

.class-id-name {
    color: greenyellow;
}
.property-name {
    color: cyan;
}
.property-val-num {
    color: mediumorchid;
}
.brackets {
    color: yellow;
} */
